@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

nav ul {
	list-style: none;
}

nav {
	display: flex;
	justify-content: flex-end;
}

h1 {
	font-weight: 800;
	font-size: 2.5em;
	text-shadow: 4px 4px 4px #aaa;
}

h3 {
	font-weight: 700;
	font-size: 1.5em;
}

table {
	background-color: white;
}

body {
	background-image: url(./assets/background-image1.png);
	background-size: cover;
	font-size: 1em;
}

td,
th {
	padding: 10px;
	text-align: left;
}

table {
	border-collapse: collapse;
	font-size: 1.1em;
}

td {
	border: 1px solid rgb(206, 203, 203);
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.txt {
	text-decoration: none;
}

.dec {
	font-weight: 200;
}

.th2 {
	background-color: #F7F9F9;
}

.th1 {
	background-color: red;
	color: white;
	text-align: end;
}

.footer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;

}